.mast-head {
    display: flex;
    width: 100%;
}

.mast-head .container-masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* distribui espaço entre eles */
    align-items: center;
    /* centraliza verticalmente */
    width: 100%;
    padding: 10px;
}

.head-start {
    flex: 1;
    text-align: left;
}

.head-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.head-end {
    flex: 1;
    text-align: right;
}