@import url('/css/geral/buttons.css');

/* Logo */
.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
    color: #333;
    transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #0073e6;
}

.btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #c026d3;
    background: transparent;
    color: #0073e6;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
}

.btn:hover {
    background: #0073e6;
    color: #fff;
}

.btn-primary {
    background: #c026d3;
    color: #fff;
}

.btn-primary:hover {
    background: #005bb5;
}