@import url(/css/singIn/sing.css);

@media (max-width: 480px) {
    .container-sing {
        padding: 40px 0 !important;
        /* ajusta o espaçamento interno */
    }

    .right-panel-sing {
        width: 300px;
    }
}

@media (max-width: 800px) {
    .container-sing {
        flex-direction: column;
        width: 90%;
        max-width: 350px;
        height: auto;
        background-color: #fff;
        border: 2px solid #c026d3;
        border-radius: 10px;
        padding: 40px 30px;
        box-shadow: none;
    }

    .left-panel-sing {
        display: none;
    }

    .right-panel-sing {
        margin: 0;
        width: auto;
        height: auto;
        padding: 10px;
    }

    .right-panel-sing h2 {
        margin-bottom: 20px;
    }

    .button-sing {
        border-radius: 5px;
        width: 100%;
    }

    .button-sing:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #ffffff;
    }

    .button-sing:active {
        background-color: rgba(255, 255, 255, 0.35);
        transform: scale(0.97);
    }

    .right-panel-sing .form-sing {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .form-input-sing {
        width: auto;
        border-radius: 3px;
        font-size: 14px;
    }

    .register-login {
        display: block;
    }
}

/* modelos padrão e grandes de smartphones, além de tablets pequenos até 800px */