<header class="mast-header">
    <div class="container-masthead">
        <!-- Logo -->
        <div class="head-start">
            <a href="/index.html" class="logo">
                <img src="/src/assets/images/logotcc-50px.png" alt="Logo TCC">
            </a>
        </div>

        <!-- Centro (links ou título) -->
        <div class="head-center">
        </div>

        <!-- Botões -->
        <div class="head-end">
            <button class="btn btn-primary" onclick="">Sair</button>
            <button class="theme-toggle" id="theme-btn">🌙</button>
        </div>
    </div>
    <script type="module">
        
    </script>
</header>